.header-bg {
  background: url('../images/synthesizer4.jpg');
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  // margin: 4rem 0;
}

.home-bg {
  width: 100%;
  background-color: white;
}

.popup-bg {
  background-color: #3d4d66;
  display: flex;
  justify-content: center;
}

.UrlExplorer-bg {
  background-color: #8e8e8e;
}
