.jumbotron {
  background-color: transparent;
  background-color: rgba($color: #fff, $alpha: 0);
  color: #fff;
}

p > span {
  font-size: 2rem;
}

.title {
  color: #fff;
}

.slogan {
  color: #fff;
}

.display-linebreak {
  white-space: pre;
}
