// .header {
//   width: 100%;
//   height: 248px;
//   background-color: red;
// }

.jumbotron {
  background-color: transparent;
  background-color: rgba($color: #fff, $alpha: 0.5);
  margin-bottom: 0;
}

.title {
  color: #ff864e;
}

.slogan {
  color: #ff864e;
}
