// .column1,
// .column2 {
//   margin: 0 !important;
//   padding: 0 !important;
// }

.alert-success {
  z-index: 99;
}

.form-control {
  display: inline;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 0rem;
}

.staticURLexample {
}

.test {
  color: green;
}

.textareaExample {
  width: 100% !important;
}

.alert-copy {
  position: fixed;
  bottom: 0;
  right: 2%;
}

.suggestion {
  cursor: pointer;
  text-decoration: underline;
  color: aqua;
}

.btn {
  margin: 0 10px !important;
}

#textareaExample {
  resize: none;
  height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #8e8e8e;
}

.form-text {
  margin: 0;
  padding-top: 1rem;
}
