// .column1,
// .column2 {
//   margin: 0 !important;
//   padding: 0 !important;
// }

.form-control {
  display: inline;
}

.form-group {
  margin-bottom: 0rem;
}

.staticURLexample {
}

.test {
  color: green;
}
// .input-group {
//   flex-wrap: nowrap;
// }

.textareaExample {
  width: 100% !important;
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
}

// .row-alert {
//   position: relative;
// }

// .groupURLexample {
//   flex: 40% auto;
// }

// .col-auto {
//   flex: 0 0 auto !important;
//   width: 20%;
//   max-width: 100% !important;
// }

// .groupURLexample {
//   height: 100%;
// }

// .column1 {
//   width: 80%;
// }

// .column2 {
//   display: flex;
//   align-self: center;
//   text-align: center;
//   width: 20%;
// }

// .submitUrl {
//   height: 100%;
//   width: 100%;
// }
